@import url("https://fonts.googleapis.com/css?family=Karla:500,700,400|Kaushan+Script:400");

::-webkit-scrollbar {
    width: 10px;  
    height: 2px;
    color: red;  /* Horizontal scrollbar height */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 20px;
    height: 3px; 
  }

body{
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}


.home {
    background-image: url(./assets/푸른\ 하늘\ 백운\ 배너\ 배경\ 배경\ 화면\ 및\ 일러스트\ 무료\ 다운로드\ -\ Pngtree\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh; 
    padding-bottom: 11rem;
}

.container > img {
    margin-top: -125px;
    margin-left: -40px;
}

.image {
    padding-top: 125px;
}

.image1 {
    position: absolute;
    top: 0;
    left: 17rem;
    z-index: 10; 
    padding-top: 8rem;
}


@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden; 
    }


    .image{
        padding-left: 40px;
        width: 16rem;
    }

    .image1{
        width: 12rem;
        left: 40%;
    }

    .image2 {
        position: absolute;
        top: 45%;                
        left: 50%;                
        transform: translateX(-17%);
        width: 20rem;             
        padding-right: 10px;      
    }

    .image3{
        width: 15rem;
        padding-right: 28px;
        margin-top: 2rem;
    }

    .image4{
        width: 24rem;
        left: 25px;
    }

    .judul1, .judul2, .judul3 {
        font-size: 20px !important;
        left: 50%;            
        transform: translateX(-20%) translateY(-50px);  
        position: absolute;        
    }

    .judul1 {
        transform: translateX(-20%) translateY(-80%); 
    }

    .judul2 {
        font-size: 18px !important;
    }

    .judul3 {
        font-size: 35px !important;
    }


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }


    .image2 {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-12%);
        width: 25rem;
        padding-right: 20px;
    }

    .judul1, .judul2, .judul3 {
        font-size: 22px !important;
        left: 50%;
        transform: translateX(-1%) translateY(-60px);
        position: absolute;
    }

    .judul1 {
        transform: translateX(-10%) translateY(-70%);
    }

    .judul2 {
        font-size: 20px !important;
    }

    .judul3 {
        font-size: 40px !important;
    }
}


.judul1 {
    position: absolute;
    text-align: center;
    font-family: "Karla", Helvetica;
    font-size: 35px;
    top: 20%;
    left: 38%;
}

.judul2 {
    position: absolute;
    text-align: center;
    font-family: "Karla", Helvetica;
    font-size: 35px;
    top: 45%;
    left: 42%;
    z-index: 20;
}

.judul3 {
    position: absolute;
    text-align: center;
    font-family: "Kaushan Script", Helvetica;
    font-size: 80px;
    top: 54%;
    left: 32%;
    z-index: 20;
}

.judul4{
    color: #000000;
    font-family: "Kaushan Script", Helvetica;
    font-size: 30px;
    margin-top: -8rem;
}

.judul5{
    color: #000000;
    font-family: "Kaushan Script", Helvetica;
    font-size: 30px;
}

.for {
    padding-top: 200px;
}

.tanggal {
    font-size: 30px;
    height: 41px;
    font-family: "Karla", Helvetica;
    color: #2F6B98;
}

.Dear {
    font-size: 30px;
    height: 41px;
    font-family: "Karla", Helvetica;
    color: #000000;
}

.Ayana {
    font-size: 30px;
    height: 41px;
    font-family: "Kaushan Script", Helvetica;
    color: #000000;
}

.image2 {
    position: absolute;
    top: 45%;
    left: 36%;
}

.image3 {
    position: absolute; 
    bottom: -11rem;        
    right: -1rem;          
    z-index: 10;    
    padding-left: -20%;
}

.image4{
    position: absolute;
    bottom: -11rem;
    right: 16rem;
    z-index: 10;    
}

a {
    position: relative;
    z-index: 100;
}

.image5{
    margin-top: -50px;
}

.card{
    width: 80px;
    height: 138px;
}
.card p{
    color: #000000;
}


.social-icon > i{
    height: 500px;
}

.name{
    font-family: "Kaushan Script", Helvetica;
}

.schedule {
    background-image: url('./assets/bunga.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 90px
}

@media only screen and (max-width: 600px){
    .schedule{
        background-size: 90rem 90rem;
    }
}

.schedule h2{
    font-family: "Kaushan Script", Helvetica;
    font-size: 20px;
}
.schedule button{
   background-color: #2F6B98;
}
.schedule .date{
   color: #2F6B98;
}


.w-full-screen { 
    margin-left: -10px;
}

.image7{
    margin-top: -120px;
}

.judul7{
    margin-top: -8rem;
    font-family: "Kaushan Script", Helvetica;
    font-size: 35px;
}

.button1{
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.judul8{
    font-family: "Kaushan Script", Helvetica;
}

.story h2{
    color: #2F6B98;
}


.judul9{
    margin-top: -8rem;
    font-family: "Kaushan Script", Helvetica;
}

.qoute{
    background-image: url(./assets/24-09-25_10-28-44-313\ 1\ \(2\).png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.t{
    font-size: 29px;
}

.s{
    color: #2F6B98;
}

.qoute button{
    background-color: #2F6B98;
}

@media only screen and (max-width: 600px) {
    .qoute{
        background-size: 38rem 54rem;
        
    }

    .qoute .t{
        color: #000000;
        font-size: 15px;
        line-height: 19px;
    }

    .qoute .s{
        font-size: 14px;
        line-height: 1px;
    }


    .qoute .bg-white {
        width: 25rem;
        height: 7rem;
    }
    
    .qoute .group{
        margin-top: 30px;
    }

    .form{
        width:20rem;
        height: 22rem;
        margin: auto;
    }

    .comment .m{
        width: 20rem;
    }

    .schedule button{
        width: 10rem;
        font-size: 11px;
    }
    
    .qoute .tes{
        width: 22rem;
    }

    .modals{
        background-color: red;
    }
    
}



.comment h4{
    font-size: 15px;
    color: #2F6B98;
}


.komen{
    background-color: #EEEEEE;
    border-radius: 10px;
    padding: 10px;
}



.nav {
    background-color: #F6F8FB;
    z-index: 10;
}


.footbar a {
    text-align: center;
    font-size: 12px; 
    color: #007bff; 
}

.icon-size {
    width: 24px; 
    height: 24px;
}

@media  only screen and (max-width: 600px) {
   
}



.sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: auto; 
   
}

.hidden {
    transform: translateY(100%); 
}



div .attendance-hadir {
    background-color: #D0FFE5;  
    color: #00FF73;  
}

div .attendance-belum-pasti {
    background-color: #3182ce;
    color: white;  
}

div .attendance-tidak-hadir {
    background-color: #FFEDCE;  
    color: #FF6666; 
}


.attendance-hadir,
.attendance-belum-pasti,
.attendance-tidak-hadir {
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    font-weight: bold; 
    font-size: 13px; 
}


.hidden {
    display: none;
}
